*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #303033;
}
body, html{
    align-items: center;
    justify-content: center;
}
/* NAVBAR */
.navbar{
    z-index: 101;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    background: inherit;
    background-color: rgba(0, 0, 0, 0.2);
}
.icon button{
    background: none;
    border: none;
}
.logo{
    cursor: pointer;
    background: none;
}
.logo1{
    background: none;
}
.logo img{
    width: 150px;
}
.drop{
    background-color: rgba(0, 0, 0, 0);
}
/* icon */
.icon{
    margin: 50px;
    background-color: rgba(0, 0, 0, 0);
}
.icon-button {
    background-color: #2DCEEF;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3rem;
	line-height: 3rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
    width: 3rem;
}

/* Circle */
.icon-button span {
    z-index: -1;
	border-radius: 0;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
    width: 0;
    background-color: #2DEFCE;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.button{
    width: 1.5rem;
	height: 1.2rem;
    background-color: rgba(0, 0, 0, 0);
}
.dropbutton{
    z-index: 1;
}
/* drop down */
.menu{
    margin-left: -40px;
    z-index: 200;
    margin-top: 15px;
    width: 140px;
    height: 300px;
    border-radius: 10px;
    position: absolute;
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    transform: translateY(-10px);
}
.menu-selection{
    height: 100%;
    width: 100%;
}
.home, .register, .premium, .top, .genre{
    text-align: center;
    background-color: white;
    font-size: 1.1rem;
    height: 100%;
    width: 100%;
    padding-top: 18px;
    
}
.home{
    border-radius: 10px 10px 0px 0px;
}
.genre{
    border-radius: 0px 0px 10px 10px;
}
.home a, .register a, .premium a, .top a, .genre a{
    color: black;
    text-decoration: none;
    background-color: transparent;
}
/* hover dropdown */
.home:hover, .register:hover, .premium:hover, .top:hover, .genre:hover{
    
    pointer-events: visible;
    background-color: #2DEFCE;
}
/* animation dropdown */
.icon button:focus+ .menu{
    opacity: 1;
    pointer-events: visible;
    transform: translateY(10px);
}

/* END NAVBAR */







/* Songs */
.container-top10{
    width: 90%;
    margin: 65px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 
.title{
    text-align: center;
    color: blanchedalmond;
    background: transparent;
    margin-top: 100px;
    margin-bottom: -70px;
}
.card{
    width: 33.3%;
    position: relative;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 50px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
         transition: all 0.3s;   
}
.card:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.card:hover{
    transform: scale(1.03);
}
.card:hover:before{
    opacity: 1;
}
.card:hover .content{
    opacity: 0;
    transform: translateY(0);
}
.card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
    background-color: black;
    opacity: 0;
}

.card img{
    height: 100%;
    position: absolute;
}

.content{
    padding-top: 45%;
    font-size: 0.6rem;
    width: 100%;
    height: 100%;
    background-color: black;
    text-align: center;
    margin: auto;
}
.content p, .content h1{
    color: blanchedalmond;
    background: transparent;
}
.content p{
    font-size: 0.7rem;
}
.card:hover .content{

    opacity: 0.8;
}
@media(max-width: 800px){
    .card{
        width: 80%;
    }
}



/* end body */

/* Footer */
.footer{
    z-index: 100;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background: #1c1c1d;
    color: white;
    margin-top: 10px;
    position: absolute;
}

.inner-footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
    position: relative;
    
}

.inner-footer .logo-container{
    width: 35%;
    float: left;
    display: block;
    
    background: none;
}

.inner-footer .logo-container img{
    width: 300px;
    height: auto;
    margin-top: -50px;
    background: none;
}

.inner-footer .footer-third{
    width: calc(22% -20px);
    margin-right: 100px;
    float: left;
    height: 100%;
    
    background: none;
}
.footer-third a{
    background-color: transparent;
}
.inner-footer .footer-third:last-child{
    margin-right: 0;
    
}
.inner-footer .footer-third h1{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    
    background: none;
}
.inner-footer .footer-third p{
    display: block;
    width: 100%;
    padding: 5px;
    background: none;
}

.social{
    display: inline-block;
    padding: 0 5px;
    
    background: none;
}
.icon{
    width: 30px;
    margin: 5px;
    
    background: none;
}
.btn{
    background: #2B2D2F;
    height: 30px;
    width: 70px;
    border-radius: 4px;
    padding-right: 6px;
    float: right;
    
}
.btn p {
    font: bold .7rem/1;
    color: #71DFBE;
    background: transparent;
  }

.contact-input{
    width: 70%;
    background: #303033;
    color: aliceblue;
    line-height: 1.5rem;
    padding: 3px;
    border: 1px solid gray;
    
}
#subs{
    margin-top: 20px;
    background-color: transparent;
}
#subs .text-input{
    width: 70%;
    height: 20px;
    background-color: #303033;
    border: 1px solid #626266;;
}
form{
    background: transparent;
}
@media(max-width: 800px){
    .footer .inner-footer{
        width: 90%;
    }
    .logo-container, .footer-third{
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    .inner-footer .logo-container img{
        margin: -80px;
    }
    #subs .text-input{
        width: 70%;
        
    }
    .btn{
        height: 45px;
    }
    .logo-container{
        margin-left: 32%;
    }
}

